
    /* Generales */
    *{
        padding: 0px;
        margin: 0px;
        font-family: Arial, Helvetica, sans-serif;
    }

    body{
        background: url(../img/bg.png);
    }

    a{
        color: #01B1EA;
    }

    a:visited{
        color: #01B1EA;
    }

    a:hover{
        color: #555555;
    }

    /* Contenido de alerta */
    .alert_green{
        color: green;
    }

    .alert_red{
        color: red;
    }

    /* Contenido de la tabla */
    table{
        text-align: center;
        width: 100%;
        border: 3px solid #555;
    }

    td{
        padding: 2px;
        border-top: 2px solid #CCC;
    }

    #thumb{
        width: 100px;
    }


    /* Container */
    #container{
        width: 80%;
        margin: 0px auto;
        box-shadow: 0px 0px 12px grey;
        background: white;
    }

    /* Header */
    #header{
        height: 145px;
        background: #F0F0F0;
    }

    #logo{
        padding: 20px;
        margin-left: 20px;
        float: left;
    }

    #logo img{
        float: left;
        height: 100px;
    }

    #logo a{
        float: left;
        font-size: 40px;
        letter-spacing: 4px;
        font-family: 'Open Sans', Arial, Helvetica;
        text-transform: uppercase;
        color: #01B1EA;
        font-weight: bold;
        text-decoration: none;
        margin-top: 18px;
        margin-left: 15px;
        text-shadow: 0px 2px 1px #222222;
        transition: all 300ms;
    }

    #logo a:hover{
        text-shadow: 0px 2px 1px #222222, 0px 0px 4px #01B1EA;
    }

    /* Menu */
    #menu{
        clear: both;
        background: #222;
        color: white;
        height: 55px;
        border-bottom: 4px solid #01B1EA;
    }

    #menu ul{
        list-style: none;
        text-decoration: none;
        margin: 0px auto;
        margin-left: 25px;
    }

    #menu ul li {
        line-height: 55px;
        float: left;
        border-right: 1px solid #363636;
    }

    #menu a{
        display: block;
        color: white;
        text-decoration: none;
        padding-left: 12px;
        padding-right: 12px;
        transition: all 300ms;
    }

    #menu a:first-child{
        border-left: 1px solid #363636;
    }

    #menu a:hover{
        background: #01B1EA;
    }

    /* Content */
    #content{
        margin: 0px auto;
        overflow: hidden;
        background: white;
    }

    /* Barra lateral */
    #lateral{
        width: 22%;
        min-height: 500px;
        float: left;
        margin-top: 20px;
        margin-left: 10px;
    }

    #lateral .block_aside{
        display: block;
        width: 90%;
        margin: 5px auto;
        padding: 10px;
    }
    
    #lateral h3{
        display: block;
        color: #222;
        width: 100%;
        text-align: center;
        padding-top: 2px;
        padding-bottom: 2px;
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: bold;
        background: #E1E1E1;
        border-bottom: 2px solid #01B1EA;
    }

    #lateral ul{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #lateral ul li{
        list-style: square;
        margin-left: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    /* Forms */
    .form_container{
        width: 50%;
    }

    label,
    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="number"],
    select, textarea{
        display: block;
        width: 95%;
        margin-top: 2px;
        margin-bottom: 2px;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="email"],
    input[type="number"],
    select, textarea{
        border: 1px solid #C9C9C9;
        box-shadow: 0px 0px 2px #CCC inset;
        background: white;
        padding: 2px;
        color: gray;
        transition: all 300ms;
    }

    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="email"]:focus{
        border: 1px solid #1579B5;
        color: black;
    }

    input[type="button"],
    input[type="submit"],
    button, .button{
        display: block;
        border-radius: 2px;
        width: auto;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        color: white;
        background: #2979CD;
        border: 1px solid #11608E;
        cursor: pointer;
    }

    .button{
        background: #33AE3D;
        color: white !important;
        text-decoration: none;
    }

    .button-small{
        text-align: center;
        width: 120px;
        margin-bottom: 20px;
    }

    .button-gestion{
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .button-red{
        background: red;
        border: 1px solid #CF1717;
    }

    label,
    input[type="button"],
    input[type="submit"],
    button{
        display: block;
        margin-top: 10px;
    }

    /* Central */
    #cental{
        width: 72%;
        min-height: 500px;
        float: right;
        border-left: 1px solid #CCC;
        box-shadow: -5px -1px 5px #DDD;
        padding: 25px;
    }

    #cental h1{
        font-size: 24px;
        font-weight: normal;
        letter-spacing: 1px;
        text-align: center;
        border-bottom: 1px solid #CCC;
        margin-bottom: 20px;
        padding: 20px;
        padding-top: 0px;
    }

    /* Productos */
    .product{
        width: 30%;
        float: left;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 30px;
        text-align: center;
    }

    .product a{
        color: black;
        text-decoration: none;
    }

    .product a:hover{
        color: #222222;
    }

    .product img{
        height: 170px;
        margin-bottom: 10px;
    }

    .product h2{
        font-size: 18px;
        margin-bottom: 10px;
    }

    .product p{
        font-weight: bold;
        color: #555;
        margin-bottom: 10px;
    }

    #detail-product{
        width: 100%;
    }

    #detail-product .image{
        display: block;
        width: 50%;
        float: left;
    }

    #detail-product img{
        display: block;
        width: 100%;
        float: left;
    }

    #detail-product .data{
        width: 50%;
        float: right;
    }

    #detail-product .description{
        margin-bottom: 20px;
    }

    #detail-product .price{
        margin-bottom: 10px;
        font-size: 20px;
        color: #444;
    }

    #detail-product .button{
        width: 50%;
        text-align: center;
    }

    /* Footer */

    #footer{
        clear: both;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        color: white;
        background: #222222;
        border-top: 4px solid #01B1EA;
    }